#conteudo1 {
	background-color: red;
	width: 300px;
	height: 100px;
	/*
		A diferença entre scroll e auto é que no primeiro existe uma
		barra de rolagem horizontal, já no segundo há somente uma
		barra vertical.
	*/
	overflow: auto;
}

#conteudo2 p {
	background-color: green;
	color: white;
	width: 300px;
	height: 100px;
	overflow: auto;
	opacity: 0.5;
}
