/* Reset */
* {
	margin: 0;
	padding: 0;
}

nav {
	width: 100vw;
	height: 80px;
	background-color: blue;
}

.banner {
	width: 100vw;
	/* Sem o calc, iria aparecer uma barra de rolagem */
	height: calc(100vh - 80px);
	background-color: red;
}